<%= form_with model: @carrier, html: {class:' h-[90%] items-center flex'}, data: { turbo: false } do |f| %>
<div class=' flex flex-col text-black bg-slate-300 justify-center items-center p-10 m-auto'>
    <h2 class=' text-2xl font-bold pb-10'>Cadastro de Transportadora</h2>
    <div class='flex flex-col'>
  <div class='field pb-3'>
    <%= f.label :fantasy_name %><br />
    <%= f.text_field :fantasy_name, class:'rounded-2xl' %>
    <% if @carrier.errors.any?%>
      <p class=' text-red-600'><%= @carrier.errors.full_messages_for(:fantasy_name).first %></p>
    <% end %>
  </div>

  <div class='field pb-5'>
    <%= f.label :cnpj %><br />
    <%= f.text_field :cnpj, class:'rounded-2xl' %>
    <% if @carrier.errors.any?%>
      <p class=' text-red-600'><%= @carrier.errors.full_messages_for(:cnpj).first %></p>
    <% end %>
  </div>

  <div class='field pb-5'>
    <%= f.label :domain %><br />
    <%= f.text_field :domain, class:'rounded-2xl' %>
    <% if @carrier.errors.any?%>
      <p class=' text-red-600'><%= @carrier.errors.full_messages_for(:domain).first %></p>
    <% end %>
  </div>

  <div class='field pb-5'>
    <%= f.label :email %><br />
    <%= f.text_field :email, class:'rounded-2xl' %>
    <% if @carrier.errors.any?%>
      <p class=' text-red-600'><%= @carrier.errors.full_messages_for(:email).first %></p>
    <% end %>
  </div>

  <div class='field pb-5'>
    <%= f.label :address %><br />
    <%= f.text_field :address, class:'rounded-2xl' %>
    <% if @carrier.errors.any?%>
      <p class=' text-red-600'><%= @carrier.errors.full_messages_for(:address).first %></p>
    <% end %>
  </div>
  
  <div class='button_send'>
    <%= f.submit 'Enviar', class: 'bg-blue-500 hover:bg-blue-700 text-white font-semibold py-1 px-3 rounded-xl text-sm cursor-pointer text-xl'%>
  </div>
<% end %>
</div>
</div>