<section>
  <h1>Transportadoras</h1>
  
  <div>
    <%= link_to 'Cadastrar', new_carrier_path%>
  </div>
  <% if @carriers.empty?%>
    <div>
      <p>Não há transportadoras cadastradas</p>
    </div>
  <% else %>
    <table class='carriers'>
    <thead>
      <tr>
        <th>Nome</th>
        <th>CNPJ</th>
        <th>Domínio</th>
        <th>Endereço</th>
        <th>Email</th>
        <th>Ações</th>
        <th>Estado</th>
      </tr>
    </thead>
    <tbody>
    <% @carriers.each do |c|%>
        <tr>
          <td><%= link_to c.fantasy_name, c %></td>
          <td><%= c.cnpj %></td>
          <td><%= c.domain %></td>
          <td><%= c.address %></td>
          <td><%= c.email %></td>
          <% if c.active? %>
          <td><%= button_to 'Inativar', inactivate_carrier_path(c), method: :patch %></td>
          <%else%>
          <td><%= button_to 'Ativar', reactivate_carrier_path(c), method: :patch %></td>
          <% end %>
          <td><%= t c.status %></td>
        </tr>
    <%end%>
    </tbody>
  </table>
  <%end%>
</section>