<div class='flex'>
  <section>
    <h1>Nome: <%= @carrier.fantasy_name %></h1>
    <div>
      
      <p>CNPJ: <%= @carrier.cnpj %></p>
      <p>Email: <%= @carrier.email %></p>
      <p>Domínio: <%= @carrier.domain %></p>
      <p>Endereço: <%= @carrier.address %></p>
    </div>
    <div>      
      <%= link_to 'Voltar', root_path %>
      <%= link_to 'Editar', edit_carrier_path %>
    </div>
  </section>

  <section>
    <h1> Veiculos</h1>
    
    <% if @vehicles && @vehicles.empty?%>
    <div>
      <p>Não há veiculos cadastrados</p>
    </div>
  <% elsif @vehicles %>
    <table class='vehicles'>
    <thead>
      <tr>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Placa</th>
        <th>Links</th>
      </tr>
    </thead>
    <tbody>
    <% @vehicles.each do |v|%>
        <tr>
          <td><%= v.brand%></td>
          <td><%= v.model %></td>
          <td><%= v.plate %></td>
          <td><%= link_to 'Detalhes', carrier_vehicle_path(current_user.carrier, v) %></td>
        </tr>
    <%end%>
    </tbody>
  </table>
  <%end%>
  <%= link_to 'Novo veiculo', new_carrier_vehicle_path(@carrier) %>
  </section>
<div>