<section class=' pt-28 flex justify-center items-center h-full px-[3%]'>
  <%= form_with model: [:carrier, @deadline], html: {class:' h-[90%] items-center flex'}, data: { turbo: false } do |f| %>
    <div class=' flex flex-col text-black bg-slate-300 justify-center items-center px-10 py-6 m-auto'>
      <h2 class=' text-2xl font-bold pb-4'>Cadastro de Prazos</h2>
      <div class='flex flex-col'>
        <div class='field pb-5'>
          <%= f.label :distance_min %><br />
          <%= f.text_field :distance_min, class:'rounded-2xl' %>
          <% if @deadline.errors.any?%>
            <p class=' text-red-600'><%= @deadline.errors.full_messages_for(:distance_min).first %></p>
          <% end %>
        </div>

        <div class='field pb-5'>
          <%= f.label :distance_max %><br />
          <%= f.text_field :distance_max, class:'rounded-2xl' %>
          <% if @deadline.errors.any?%>
            <p class=' text-red-600'><%= @deadline.errors.full_messages_for(:distance_max).first %></p>
          <% end %>
        </div>

        <div class='field pb-5'>
          <%= f.label :time_arrive %><br />
          <%= f.text_field :time_arrive, class:'rounded-2xl' %>
          <% if @deadline.errors.any?%>
            <p class=' text-red-600'><%= @deadline.errors.full_messages_for(:time_arrive).first %></p>
          <% end %>
        </div>

        <div class='button_send'>
          <%= f.submit 'Enviar', class: 'bg-blue-500 hover:bg-blue-700 text-white font-semibold py-1 px-3 h-8 rounded-xl text-sm cursor-pointer text-xl'%>
        </div>
      </div>
    </div>
  <% end %>
</section>
