<section>
  <div>
    <%= link_to 'Cadastrar novo', new_carrier_deadline_path(@carrier) %>
    <% if @deadlines.empty?%>
    <div>
      <p>Não há Prazos cadastrados</p>
    </div>
  <% elsif @deadlines%>
    <table class='deadlines'>
    <thead>
      <tr>
        <th>Distancia</th>
        <th>Prazo</th>
        <th>Açoes</th>
      </tr>
    </thead>
    <tbody>
    <% @deadlines.each do |attr|%>
        <tr>
          <td><%= attr.distance_min %>km a <%= attr.distance_max %>km</td>
          <td><%= attr.time_arrive %> dias</td>
          <td><%= link_to 'Editar', edit_carrier_deadline_path(@carrier, attr) %></td>
        </tr>
    <%end%>
    </tbody>
  </table>
  <%end%>
  </div>
</section>