<section>
  <div>
    <%= button_to 'Cadastrar novo', new_carrier_deadline_path(@carrier), method: 'get' , class: 'mb-4 bg-green-500 hover:bg-green-700 text-white py-1 px-2 rounded-xl text-sm mr-2 ' %>
    <% if @deadlines.empty?%>
    <div>
      <p>Não há Prazos cadastrados</p>
    </div>
  <% elsif @deadlines%>
    <div class='bg-slate-300 p-5 flex justify-center'>
      <table class='deadlines min-w-[30%] bg-slate-300 p-5'>
        <thead>
          <tr class=' text-left'>
            <th>Distancia</th>
            <th>Prazo</th>
            <th>Açoes</th>
          </tr>
        </thead>
        <tbody>
        <% @deadlines.each do |attr|%>
            <tr>
              <td><%= attr.distance_min %>km a <%= attr.distance_max %>km</td>
              <td><%= attr.time_arrive %> dias</td>
              <td><%= button_to 'Editar', edit_carrier_deadline_path(@carrier, attr), method: :get , class: 'bg-red-500 hover:bg-red-700 text-white  px-2 rounded-xl text-sm w-14 mr-2 ' %></td>
            </tr>
        <%end%>
        </tbody>
      </table>
    </div>
  <%end%>
  </div>
</section>