<div>
  <%= @results.count %> <%= t(:result, count: @results.count) %> <%= t :found, count: @results.count %>
  <% @results.each do |result| %>
    <%= result[:company] %> - frete R$ <%= result[:frete] %> | <%= result[:deadline] %>
  <% end %>
</div>