<section class="">
<%= form_with model: [:carrier, @price], html: {class:' h-[90%] items-center flex'}, data: { turbo: false } do |f| %>
<div class=' flex flex-col text-black bg-slate-300 justify-center items-center px-10 py-6 m-auto'>
  <h2 class=' text-2xl font-bold pb-4'>Cadastro de Preços</h2>
  <div class='flex flex-col'>
    <div class='field pb-5'>
      <%= f.label :cbm_min %><br />
      <%= f.text_field :cbm_min, class:'rounded-2xl w-full mr-2' %>
      <% if @price.errors.any?%>
        <p class=' text-red-600'><%= @price.errors.full_messages_for(:cbm_min).first %></p>
      <% end %>
    </div>

    <div class='field pb-5'>
      <%= f.label :cbm_max %><br />
      <%= f.text_field :cbm_max, class:'rounded-2xl w-full mr-2' %>
      <% if @price.errors.any?%>
        <p class=' text-red-600'><%= @price.errors.full_messages_for(:cbm_max).first %></p>
      <% end %>
    </div>

    <div class='field pb-5'>
      <%= f.label :state %><br />
      <%= f.text_field :state, class:'rounded-2xl w-full mr-2' %>
      <% if @price.errors.any?%>
        <p class=' text-red-600'><%= @price.errors.full_messages_for(:state).first %></p>
      <% end %>
    </div>

    <div class='field pb-5'>
      <%= f.label :value %><br />
      <%= f.text_field :value, class:'rounded-2xl w-full mr-2' %>
      <% if @price.errors.any?%>
        <p class=' text-red-600'><%= @price.errors.full_messages_for(:value).first %></p>
      <% end %>
    </div>

    <div class='button_send'>
      <%= f.submit 'Enviar', class: 'bg-blue-500 hover:bg-blue-700 text-white font-semibold py-1 px-3 h-8 rounded-xl text-sm cursor-pointer text-xl'%>
    </div>
  </div>
</div>
<% end %>

</section>
