<section>
  <div>
    <%= link_to 'Cadastrar novo', new_carrier_price_path(@carrier)%>
    <% if @prices.empty?%>
    <div>
      <p>Não há Preços cadastrados</p>
    </div>
  <% elsif @prices%>
    <table class='prices'>
    <thead>
      <tr>
        <th>Metros cúbicos</th>
        <th>Peso</th>
        <th>Valor por Km</th>
        <th>Açoes</th>
      </tr>
    </thead>
    <tbody>
    <% @prices.each do |val|%>
        <tr>
          <td><%= val.cbm_min %> a <%= val.cbm_max %></td>
          <td><%= val.weight_min %>kg a <%= val.weight_max %>kg</td>
          <td>R$ <%= val.value_km %></td>
          <td><%=link_to 'Editar', edit_carrier_price_path(@carrier, val) %> |
           <%= button_to 'Excluir', carrier_price_path(@carrier, val), method: 'delete' %></td>
        </tr>
    <%end%>
    </tbody>
  </table>
  <%end%>
  </div>
</section>