<section class='pt-28 h-full px-[3%]'>
  <div class=' bg-slate-300 p-5 flex flex-col justify-center items-center max-w-7xl mx-auto'>
    <h1 class='font-bold text-2xl pb-3'>Pedido <%= @order.code%></h1>
    <% @order_updates.each do |order_update| %>
      <div class='flex'>
        <div class=" pb-6 flex flex-col">
          <div class='font-bold self-end'><%=l order_update.date %> - <%= order_update.hour %></div>
          <p>De <%= order_update.last_location %> para <%= order_update.next_location %></p>
        </div>
      </div>
    <% end %>
  </div>
</section>
