<!DOCTYPE html>
<html>
  <head>
    <title>DeliverySystem</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <div>
        <h1>Sistema de Entregas</h1>
      <div>
      <div id='menu'>
        <div class='item_menu'><%= link_to 'Transportadoras', carriers_path %></div>
      </div>      
    </nav>
    <%= yield %>
  </body>
</html>
